.content{
  width: 100%;
  color: red;
  text-align: center;
}
.avatar{
  width: 750rpx;
}
.footer{
  background: url("../../resources/images/footer.jpg") no-repeat;
  height: 300rpx;
  width: 100%;
  background-size: 100%;
}