.leadscell {
  margin: 0 0 20rpx 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}

.top-info-view {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1rpx #E6E6E6;
}

.cover-img {
  width: 180rpx;
  height: 135rpx;
  background-color: yellow;
  background: url('http://file.baixing.net/201806/e662987c71186a65b97ad63015f3128d.png') center center no-repeat; 
  background-size: 100% 100%;
}

.detail-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-left: 28rpx;
}

.title {
  color: #333;
  font-size: 28rpx;
}

.subtitle {
  color: #999;
  font-size: 24rpx;
}

.price {
  color: #FF8710;
  font-size: 32rpx;
}

.date {
  color: #999;
  font-size: 24rpx;
}

.extra-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 40rpx
}

.bottom-info-view {
  padding: 0 28rpx;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.tags {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.tag-item {
  padding: 6rpx 10rpx;
  margin-right: 10rpx;
  color: #368BEE;
  font-size: 20rpx;
  border-radius: 10rpx;
  border: 1px solid #368BEE;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rpx 0 12rpx 20rpx;
  padding: 0 30rpx;
  height: 60rpx;
  vertical-align: middle;
  font-size: 26rpx;
  border-radius: 30rpx;
}

.vad-btn,
.sellout-btn{
  color: #F44642;
  background-color: #fff;
  border: 1px solid #F44642;
}

.offer-btn {
  color: #fff;
  background-color: #F44642;
}

.mobile-btn {
  height: 60rpx;
  color: #FF8710;
  vertical-align: middle;
  font-size: 28rpx;
  border-radius: 30rpx;
  border: 1px solid #FF8710;
  background-color: #fff;
  z-index: 0;
}

.sold-icon {
  position: absolute;
  right:20rpx;
  margin-top:-120rpx;
}

.items {
  padding: 15rpx 30rpx;
}

.items .item {
  height: 60rpx;
  line-height: 60rpx;
}

.items .item .item-title {
  display: inline-block;
  width: 150rpx;
  color: #666;
  font-size: 30rpx;
  float:left;
}

.items .item .item-content {
  display: inline-block;
  color: #333;
  font-size: 30rpx;
  width: calc(100vw - 210rpx);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}