$black: #000;
$white: #fff;
$grey-light: #e9e9e9;
$grey: #b4b4b4;
$grey-darken: #a3a7ac;
$grey-ink: #9da2a6;
$dark: #3b444d;
$page-background: #f8f8f8;
$gold: #ffd142;
$orange-lighten: #ff9f00;
$orange: #ff7500;
$orange-darken: #e83f44;
$primary: #3685e2;
$mainColor: #2384e8;
$primary-disable: #5fa7f2;

$theme-color: #656ce8;
$gary-text: #8b8fae;

$line-color: #dfe3f4;
$black-text: #393a46;

$time-color: #cfd2e3;

$dot-color: #ff5d5d;
