@import 'color';
@import 'size';

$title-color: lighten($black, 0.75);
$body-color: lighten($black, 0.65);
$caption-color: lighten($black, 0.43);
$disabled-color: lighten($black, 0.25);
$link: #108ee9;
$line: #edeced;
$border-color: #e9e9e9;
$base-color: #838af5;

$font-color-gray: #737373;

$BG_BODY: #fff;
$BG_LINE: rgba(2, 0, 0, 0);
$T1: rgba(9, 0, 0, 0);
$T2: rgba(5, 0, 0, 0);
$T3: rgba(2, 0, 0, 0);
$TW: $orange;
$TD: $orange-darken;

$poster-title: $dark;
$poster-summary: #9ca1a5;

$BG_GRAY: #f5f6fa;
